{% extends 'base.html.twig' %}

{% block title %}Mon Application{% endblock %}

{% block body %}
<div>
    <h1>Bonjour tout le monde !</h1>
    <h2>Categories de produits :</h2>
    <ul class="categories">
        {% for category in categories %}<li>{{ category.name }}</li>{% endfor %}
    </ul>
</div>
{% endblock %}
