{% extends 'base.html.twig' %}

{% block title %}Liste des produits par catégorie{% endblock %}

{% block body %}
        <p>
                {{ product.name }} ({{ product.price / 100 }} €)
        </p>
        <span class="price-usd">{{ usd_exchange_rate * product.price / 100 }}</span>
</div>
{% endblock %}
