{% extends 'base.html.twig' %}

{% block title %}Liste des produits par catégorie{% endblock %}

{% block body %}
<div id="products">
    {% for product in products %}
        <p>
                {{ product.name }} ({{ product.price / 100 }} €)
        </p>
    {% endfor %}
</div>
{% endblock %}
